<!DOCTYPE html>
<html>
<title>Laire</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }

  body,
  html {
    height: 100%;
    line-height: 1.8;
    opacity: 1;
    transition: 2s opacity;
    background-color: black;
  }

  body.fade-out {
    opacity: 0;
    transition: none;
  }

  /* Full height image header */
  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("static/images/neuralnetwork.jpg");
    min-height: 100%;
  }

  .bar .button {
    padding: 16px;
  }

  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("static/images/neuralnetwork.jpg");
    min-height: 100%;
  }

  /*FAQS*/
  .faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
  }

  .faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
  }


  .zoom {
    transition: transform .2s;
    padding: 200px;
    /* Animation */
  }

  .zoom:hover {
    transform: scale(1.2);
  }

  #tools {
    background-image: url("static/images/datascience.jpg")
  }
</style>

<body>
  <script>
    document.body.className += ' fade-out';
  </script>

  <!-- Navbar (sit on top) -->
  <div class="top">
    <div class="bar white card" id="myNavbar">
      <a href="#home" class="bar-item button wide"><img src="static/images/logo.png" style="width: auto; height:30px;border:0;"></a>
      <!-- Right-sided navbar links -->
      <div class="right hide-small">
        <a href="#home" class="bar-item button">HOME</a>
        <a href="#about" class="bar-item button">ABOUT</a>
        <a href="#tools" class="bar-item button">TOOLS</a>
        <a href="#team" class="bar-item button">TEAM</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      <a href="javascript:void(0)" class="bar-item button right hide-large hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="sidebar bar-block black card animate-left hide-medium hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="bar-item button large padding-16">Close ×</a>
    <a href="#home" class="bar-item button">HOME</a>
    <a href="#about" class="bar-item button">ABOUT</a>
    <a href="#tools" class="bar-item button">TOOLS</a>
    <a href="#tools" class="bar-item button">TEAM</a>
  </nav>

  <!-- Header with full-height image -->
  <header class="bgimg-1 display-container grayscale-min" id="home">
    <div class="display-left text-white" style="padding:48px">
      <span class="jumbo hide-small"><img src="static/images/logo.png" style="width: auto; height: 300px; position: relative; top:150px; left:50px;" </span> <br>
        <span class="xxlarge hide-large hide-medium">Laire</span><br>
        <span class="large" style="position: relative; left: 50px;">Know your heart.</span>
        <p><a href="#about" class="button white padding-large large margin-top opacity hover-opacity-off" style="position:relative;left:50px;">Learn more</a></p>
    </div>

  </header>

  <!-- ABOUT COMPANY -->
  <div class="container light-grey" style="padding:128px 16px" id="about">
    <div class="row-padding">
      <div class="col m6">
        <h3>Medical insights powered by machine learning.</h3>
        <p>Our mission is to leverage the power of machine learning and artificial
          intelligence to provide data analytics and insights to local organizations.
          <br>
          <br>
          <br>Laire is committed to attracting the best talent and to providing only the best to our clients.
          <br>
          <br>
          some text
          <!-- FAQ area
          FAQ
          <div class="faq_container">
            <div class="faq">
              <div class="faq_question">Question goes here</div>
              <div class="faq_answer_container">
                <div class="faq_answer">Answer goes here</div>
              </div>
            </div>
          </div>
        -->
        </p>
      </div>
      <div class="col m6">
        <img class="image round-large" src="static/images/heartbeat.gif" alt="heartbeat">
      </div>
    </div>
  </div>


  <!-- OUR TOOLS -->
  <center><div class="container blue-grey" style="padding:128px 16px;" id="tools">
    <h3 class="center">OUR TOOLS</h3>
    <p class="center large">How we help the community</p>
    <div class="row-padding center" style="margin-top:64px">
      <div class="quarter zoom" onclick="location.href='{{ url_for('hbclassification') }}';" style="margin-left:20%">
        <i class="fa fa-heart margin-bottom jumbo center"></i>
        <p class="large">Heartbeat Classification</p>
        <p>Based on just a 9 second .wav file, Laire can classify heartbeats into 4 distinct categories:
          <br>Normal, Artifact, Extrasystole, and Murmur.</p>
      </div>
      <div class="quarter zoom" style="margin-left:10%">
        <i class="fa fa-desktop margin-bottom jumbo"></i>
        <p class="large">Heart Disease Prediction</p>
        <p>Coming Soon!</p>
      </div>

    </div>
  </div>
</center>
  <!-- OUR TEAM -->
  <div class="container blue-gray" style="padding:128px 16px" id="team">
    <center><h3 class="center">THE TEAM</h3></center>
    <div class="row-padding " style="margin-top:64px">
      <div class="col l4 m6 margin-bottom">
        <div class="card">
          <img src="/w3imagesteam1.jpg" alt="Pranav" style="width:100%">
          <div class="container">
            <h3>Pranav Addepalli</h3>
            <p class="opacity">Tuff Guy</p>
            <p>Pranav Addepalli is a tuff guy</p>
            <center>
              <a href="mailto:pranav@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>
              <a href="https://www.linkedin.com/in/pranavaddepalli/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>

            </center>
          </div>
        </div>
      </div>
      <div class="col l4 m6 margin-bottom">
        <div class="card">
          <img src="/w3images/team1.jpg" alt="Haneef" style="width:100%">
          <div class="container">
            <h3>Haneef Khan</h3>
            <p class="opacity">Lead Backend Developer</p>
            <p>Haneef Khan is a cool guy</p>
            <center>
              <a href="mailto:haneef@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>
              <a href="https://www.linkedin.com/in/haneef-khan-778676139/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>
            </center>
          </div>
        </div>
      </div>
      <div class="col l4 m6 margin-bottom">
        <div class="card">
          <img src="/w3images/team3.jpg" alt="Sid" style="width:100%">
          <div class="container">
            <h3>Sid Rapolu</h3>
            <p class="opacity">Lead UX Developer</p>
            <p>Sid Rapolu is a guy</p>
            <center>
              <a href="mailto:sid@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>
              <a href="https://www.linkedin.com/in/sid-r-2a00a1137/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:40px; padding-right:40px; padding-bottom:20px"></i></a>

            </center>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer class="center black padding-64">
    <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>Top</a>
    <div class="xlarge section">
    </div>
  </footer>




  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function() {
      $('body').removeClass('fade-out');
    });
    $(document).ready(function() {
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function() {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(document).ready(function() {

      $('.faq_question').click(function() {

        if ($(this).parent().is('.open')) {
          $(this).closest('.faq').find('.faq_answer_container').animate({
            'height': '0'
          }, 500);
          $(this).closest('.faq').removeClass('open');

        } else {
          var newHeight = $(this).closest('.faq').find('.faq_answer').height() + 'px';
          $(this).closest('.faq').find('.faq_answer_container').animate({
            'height': newHeight
          }, 500);
          $(this).closest('.faq').addClass('open');
        }

      });

    });
  </script>
</body>

</html>
