<!DOCTYPE html>
<html>
<title>Laire</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mainstyle.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="{{ url_for('static',filename='images/tabIcon.png') }}">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif
  }

  body,
  html {
    height: 100%;
    line-height: 1.8;
    opacity: 1;
    transition: 2s opacity;
    background-color: white;
  }

  body.fade-out {
    opacity: 0;
    transition: none;
  }

  /* Full height image header */

  .bar .button {
    padding: 16px;
  }

  .bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../static/images/lairebg.png");
    min-height: 100%;
  }

  /*FAQS*/
  .faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
  }

  .faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
  }


  .zoom {
    transition: transform .2s;
    /* Animation */
  }

  .zoom:hover {
    transform: scale(1.2);
  }

  #webdev {
    background-image: url("../static/images/webdev.jpg");
  }
</style>

<body>
  <script>
    document.body.className += ' fade-out';
  </script>

  <!-- Navbar (sit on top) -->
  <div class="top">
    <div class="bar card" id="myNavbar" height="25px">
      <a href="#home" class="bar-item button wide"><img src="static/images/logo.png" style="width: auto; height:25px;border:0;"></a>
      <!-- Right-sided navbar links -->
      <div class="right hide-small">
        <a href="#home" class="bar-item button">HOME</a>
        <a href="#about" class="bar-item button">ABOUT</a>
        <a href="#webdev" class="bar-item button">WEB DEVELOPMENT</a>
        <a href="#social" class="bar-item button">SOCIAL</a>
        <a href="#team" class="bar-item button">TEAM</a>
        <a href="#contact" class="bar-item button">CONTACT</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      <a href="javascript:void(0)" class="bar-item button right hide-large hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="sidebar bar-block black card animate-left hide-medium hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="bar-item button large padding-16">Close ×</a>
    <a href="#home" class="bar-item button">HOME</a>
    <a href="#about" class="bar-item button">ABOUT</a>
    <a href="#webdev" class="bar-item button">WEB DEVELOPMENT</a>
    <a href="#social" class="bar-item button">SOCIAL MEDIA</a>
    <a href="#team" class="bar-item button">TEAM</a>
    <a href="#contact" class="bar-item button">CONTACT</a>
  </nav>

  <!-- Header with full-height image -->
  <header class="bgimg-1 display-container grayscale-min" id="home" height="500px">
    <div class="display-left text-white" style="padding:48px"><span class="xxlarge hide-large hide-medium">Laire</span><br>
      <span class="large" style="position: relative; left: 20px;"></span>
      <p><a href="#about" class="button white padding-large large margin-top opacity hover-opacity-off" style="position:relative;left:355px;top:100px;">Learn more</a>
        <a href="#contact" class="button blue padding-large large margin-top opacity hover-opacity-off" style="position:relative;left:500px;top:100px;">Contact Now</a>
      </p>

    </div>

  </header>

  <!-- ABOUT COMPANY -->
  <div class="container light-grey" style="padding:128px 16px" id="about">
    <div class="row-padding">
      <div class="col m6">
        <h3>Web development and digital marketing powered by AI.</h3>
        <p>Laire is a startup focused on helping local businesses grow
          <br>by using advanced tools to build websites and manage social media platforms.
        </p>
      </div>
      <div class="col m6">
        <img class="image round-large" src="static/images/datascience.gif" alt="datascience">
      </div>
    </div>
  </div>

  <!-- WEB DEVELOPMENT -->
  <div class="container light-grey" style="padding:128px 100px" id="webdev">
    <div class="row-padding">
      <div class="col s6">
        <h3>WEB DEVELOPMENT</h3>
      </div>
      <div class="col s6 offset-s6">
          <p>Our mission is to bridge the gap between a startup and a business
            <br>by improving the digital marketing through advanced web development.
          </p>
      </div>
    </div>
  </div>
  <!-- SOCIAL MEDIA -->
  <div class="container light-grey" style="padding:128px 256px" id="social">
    <div class="row-padding">
      <div class="col s9 offset-s2">
        <h3>SOCIAL MEDIA</h3>
        <p>Our mission is to bridge the gap between a startup and a business
          <br>by improving the digital marketing through advanced web development.
        </p>
      </div>
    </div>
  </div>

  <!-- CONTACT -->
  <div class="container light-grey" style="padding:128px 256px" id="contact">
    <div class="row-padding">
      <div class="col s9 offset-s2">
        <h3>CONTACT</h3>
        <p>Our mission is to bridge the gap between a startup and a business
          <br>by improving the digital marketing through advanced web development.
        </p>
      </div>
    </div>
  </div>

  <!-- OUR TEAM -->
  <div class="container" style="padding:128px 16px" id="team">
    <center>
      <h3 class="center" style="color: black;">THE TEAM</h3>
    </center>
    <div class="row-padding " style="margin-top:64px; margin-left:60px;">
      <div class="col l4 m6 margin-bottom">
        <div class="card" style="background-color: #9effee; width: 300px;">
          <img src="../static/images/pranavPic.jpg" alt="Pranav" style="width:100%">
          <div class="container">
            <h3 style="color: black;">Pranav Addepalli</h3>
            <p class="opacity" style="padding-bottom: 20px; color: black;">Full Stack Developer</p>
            <center>
              <a href="mailto:pranav@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:20px; padding-right:20px; padding-bottom:20px"></i></a>
              <a href="https://www.linkedin.com/in/pranavaddepalli/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:20px; padding-right:20px; padding-bottom:30px"></i></a>

            </center>
          </div>
        </div>
      </div>
      <div class="col l4 m6 margin-bottom">
        <div class="card" style="background-color: #9effee; width: 300px;">
          <img src="../static/images/haneefPic.JPEG" alt="Haneef" style="width:100%">
          <div class="container">
            <h3 style="color: black;">Haneef Khan</h3>
            <p class="opacity" style="padding-bottom: 20px; color: black;">Lead Software Developer</p>
            <center>
              <a href="mailto:haneef@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:20px; padding-right:20px; padding-bottom:10px"></i></a>
              <a href="https://www.linkedin.com/in/haneef-khan-778676139/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:20px; padding-right:20px; padding-bottom:30px"></i></a>
            </center>
          </div>
        </div>
      </div>
      <div class="col l4 m6 margin-bottom">
        <div class="card" style="background-color: #9effee; width: 300px;">
          <img src="../static/images/sidPic.jpg" alt="Sid" style="width:100%">
          <div class="container">
            <h3 style="color: black;">Sid Rapolu</h3>
            <p class="opacity" style="padding-bottom: 20px; color: black;">Lead Web Developer</p>
            <center>
              <a href="mailto:sid@laire.org"> <i class="fa fa-envelope zoom" style="padding-left:20px; padding-right:20px; padding-bottom:30px"></i></a>
              <a href="https://www.linkedin.com/in/sid-r-2a00a1137/"> <i class="fa fa-linkedin hover-opacity zoom" style="padding-left:20px; padding-right:20px; padding-bottom:30px"></i></a>

            </center>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Footer -->
  <footer class="center light-gray padding-64" style="width: 100%">
    <center>
      <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>Back to top</a>
      <div class="xlarge section">
      </div>
    </center>
  </footer>




  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    //transparent to solid Navbar
    $(window).scroll(function() {
      if ($(window).scrollTop() >= 750) {
        $('#myNavbar').css('background', 'white');
      } else {
        $('#myNavbar').css('background', 'transparent');
      }
    });

    $(function() {
      $('body').removeClass('fade-out');
    });
    $(document).ready(function() {
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function() {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(document).ready(function() {

      $('.faq_question').click(function() {

        if ($(this).parent().is('.open')) {
          $(this).closest('.faq').find('.faq_answer_container').animate({
            'height': '0'
          }, 500);
          $(this).closest('.faq').removeClass('open');

        } else {
          var newHeight = $(this).closest('.faq').find('.faq_answer').height() + 'px';
          $(this).closest('.faq').find('.faq_answer_container').animate({
            'height': newHeight
          }, 500);
          $(this).closest('.faq').addClass('open');
        }

      });

    });
  </script>
</body>

</html>
